.hidden {
  display: none !important;
}

.button {
  border: none;
  outline: none;
  color: #fff;
  background-color: #515076;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(81, 80, 118, 0.8);
}

[aria-label] {
  position: relative;
}

[aria-label]::before {
  content: "";
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: 0.3s;
  /* customize this yourself */
  bottom: -0.7rem;
  left: 0.3rem;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid rgb(48, 64, 81);
  border-left: 0.5rem solid transparent;
  transition: opacity 0.2s;
}

/* tooltip text container */
[aria-label]::after {
  content: attr(aria-label);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  min-width: 10rem;
  transition: 0.3s;
  /* customize this yourself */
  bottom: -0.5rem;
  left: 0;
  display: flex;
  padding: 0.25rem 0.375rem;
  border-radius: 0.25rem;
  transition: opacity 0.2s;
  transform: translateY(100%);
  background-color: rgb(48, 64, 81);
  color: white;
}

/* only show the tooltip on hover */
[aria-label]:hover::after,
[aria-label]:hover::before {
  opacity: 1;
  pointer-events: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1110px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.title {
  color: #515076;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.catalog {
  background: url("../images/catalog.jpg") no-repeat left top;
  padding-top: 220px;
  padding-bottom: 116px;
}
.catalog__title {
  margin-bottom: 110px;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}
.catalog__item {
  max-width: 340px;
}

.product {
  background-color: #F7F7FA;
  padding: 25px;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1019607843);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product_new::before {
  content: "New";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border-top-left-radius: 0px;
  top: 50px;
  left: 0;
  font-size: 12px;
  color: white;
  width: 50px;
  height: 30px;
  background-color: black;
}
.product_hot::before {
  content: "Hot!";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border-top-left-radius: 0px;
  width: 80px;
  height: 50px;
  font-size: 16px;
  background-color: rgb(245, 82, 82);
  color: white;
  top: 50px;
  left: 0;
}
.product__img {
  display: block;
}
.product__link {
  text-decoration: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.product__tag {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 5px;
}
.product__title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #515076;
}
.product__description {
  color: #515076;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.product__description p {
  margin-top: 5px;
  margin-bottom: 15px;
}
.product__mini-title {
  color: #515076;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 5px;
  display: block;
}
.product__compound {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #515076;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 25px;
}
.product__compound li {
  margin: 5px 0;
  position: relative;
  padding-left: 15px;
}
.product__compound li:first-child {
  margin-top: 0;
}
.product__compound li:last-child {
  margin-bottom: 0;
}
.product__compound li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  border: 1px solid #515076;
  margin-right: 100px;
}
.product__price {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
}
.product__price b {
  color: #515076;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.product__price span {
  color: #515076;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
.product__button {
  position: relative;
  z-index: 2;
  margin-top: 10px;
}

.header {
  background-color: #F7F7FA;
  padding: 20px 0;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1019607843);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__user-menu {
  margin-left: auto;
}

.user-menu {
  display: flex;
  gap: 10px;
  align-items: center;
}
.user-menu__shopping-cart {
  position: relative;
}
.user-menu__shopping-cart .user-menu__link {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='currentColor' d='M6 6a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v2h4a1 1 0 0 1 .986 1.164l-1.582 9.494A4 4 0 0 1 17.46 22H6.54a4 4 0 0 1-3.945-3.342L1.014 9.164A1 1 0 0 1 2 8h4zm2 2h5a1 1 0 1 1 0 2H3.18l1.389 8.329A2 2 0 0 0 6.54 20h10.92a2 2 0 0 0 1.972-1.671L20.82 10H17a1 1 0 0 1-1-1V6a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2z'%3E%3C/path%3E%3C/svg%3E");
  width: 34px;
  height: 34px;
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-color: #bebebe;
  border-radius: 50%;
  display: block;
  position: relative;
}
.user-menu__shopping-cart .user-menu__count {
  position: absolute;
  left: 60%;
  bottom: 60%;
  background-color: #d63030;
  min-width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  font-size: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.user-menu__cart {
  position: absolute;
  right: 0;
  top: 120%;
  min-width: 380px;
  display: none;
}
.user-menu__cart_active {
  display: block !important;
}

.shopping-cart {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1019607843);
}
.shopping-cart__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.shopping-cart__item {
  padding: 10px 20px;
  border-bottom: 1px solid #E0E0E0;
  color: inherit;
  display: flex;
  align-items: center;
}
.shopping-cart__item:last-child {
  border-bottom: none;
}
.shopping-cart__delete {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 5px;
}
.shopping-cart__delete span {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  mask-position: center;
  mask-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: #515076;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.shopping-cart__delete span::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='ag17-b1'%3E%3Cpath fill='currentColor' d='m4.888 3.035.275-.826A2.5 2.5 0 0 1 7.535.5h.93a2.5 2.5 0 0 1 2.372 1.71l.275.825c2.267.09 3.555.406 3.555 1.527 0 .938-.417.938-1.25.938H2.583c-.833 0-1.25 0-1.25-.937 0-1.122 1.288-1.438 3.555-1.528m1.856-.299-.088.266Q7.295 3 8 3t1.345.002l-.089-.266a.83.83 0 0 0-.79-.57h-.931a.83.83 0 0 0-.79.57M2.167 7.167c0-.6.416-.834.833-.834h10c.417 0 .833.235.833.834 0 6.666-.416 8.333-5.833 8.333s-5.833-1.667-5.833-8.333m4.166 1.666a.833.833 0 0 0-.833.834v1.666a.833.833 0 1 0 1.667 0V9.667a.833.833 0 0 0-.834-.834m4.167.834a.833.833 0 1 0-1.667 0v1.666a.833.833 0 1 0 1.667 0z'%3E%3C/path%3E%3C/svg%3E");
  mask-size: 14px 14px;
  background-color: #fff;
  transition: 0.3s;
}
.shopping-cart__delete:hover span {
  background-color: #d3d3d3;
}
.shopping-cart__delete:hover span::before {
  background-color: #4d4d4d;
}
.shopping-cart__link {
  flex-grow: 1;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
}
.shopping-cart__link img {
  max-width: 50px;
}
.shopping-cart__link p {
  margin: 0;
  margin-right: 20px;
}
.shopping-cart__link span {
  font-weight: 700;
  margin-left: auto;
  min-width: 68px;
  text-align: right;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_hide {
  display: none;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}
.modal__content {
  position: relative;
  z-index: 102;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  text-align: center;
}
.modal__content p {
  margin-top: 10px;
  margin-bottom: 0;
  color: #515076;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.modal__close {
  margin-top: 20px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #515076;
}
.modal__title_red {
  color: #d63030;
}