.shopping-cart {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px #5150761A;

    &__list {
        @include clear-list;
    }

    &__item {
        padding: 10px 20px;
        border-bottom: 1px solid #E0E0E0;
        color: inherit;
        display: flex;
        align-items: center;

        &:last-child {
            border-bottom: none;
        }
    }

    &__delete {
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
        background-color: transparent;
        cursor: pointer;
        margin-right: 5px;

        span {
            position: relative;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            mask-position: center;
            mask-repeat: no-repeat;
            border: none;
            outline: none;
            background-color: #515076;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;

            &::before {
                content: "";
                display: block;
                width: 14px;
                height: 14px;
                mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='ag17-b1'%3E%3Cpath fill='currentColor' d='m4.888 3.035.275-.826A2.5 2.5 0 0 1 7.535.5h.93a2.5 2.5 0 0 1 2.372 1.71l.275.825c2.267.09 3.555.406 3.555 1.527 0 .938-.417.938-1.25.938H2.583c-.833 0-1.25 0-1.25-.937 0-1.122 1.288-1.438 3.555-1.528m1.856-.299-.088.266Q7.295 3 8 3t1.345.002l-.089-.266a.83.83 0 0 0-.79-.57h-.931a.83.83 0 0 0-.79.57M2.167 7.167c0-.6.416-.834.833-.834h10c.417 0 .833.235.833.834 0 6.666-.416 8.333-5.833 8.333s-5.833-1.667-5.833-8.333m4.166 1.666a.833.833 0 0 0-.833.834v1.666a.833.833 0 1 0 1.667 0V9.667a.833.833 0 0 0-.834-.834m4.167.834a.833.833 0 1 0-1.667 0v1.666a.833.833 0 1 0 1.667 0z'%3E%3C/path%3E%3C/svg%3E");
                mask-size: 14px 14px;
                background-color: #fff;
                transition: 0.3s;
            }
        }

        &:hover {
            span {
                background-color: #d3d3d3;

                &::before {
                    background-color: #4d4d4d;
                }
            }
        }
    }

    &__link {
        flex-grow: 1;
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            max-width: 50px;
        }

        p {
            margin: 0;
            margin-right: 20px;
        }

        span {
            font-weight: 700;
            margin-left: auto;
            min-width: 68px;
            text-align: right;
        }
    }
}
